.mainContainer {
  background-image: url('../images/book_cover.jpg');
  padding: 6em;
  background-repeat: no-repeat;
  background-size: cover;
}

.mainContainer .shortIntro {
  background-color: rgba(255,255,255,0.8);
  margin: 0 auto;
  padding: 1.25em;
  max-width: 30em;
}

.mainContainer .mercyImage {
  background-image: url('../images/mercedes.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  padding: 4em;
  float:left;
  margin-right: 0.5em;
}
