.serviceContainer {
  background-image: url('../images/book_cover.jpg');
  padding: 1em;
  background-repeat: no-repeat;
  background-size: cover;
}

.serviceContainer .contentContainer {
  background-color: rgba(255,255,255,0.8);
  margin: 0 auto;
  padding: 1.25em;
  max-width: 45em;
  line-height: 1.6;
}

.serviceContainer .title {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

.serviceContainer .type {
  margin-bottom: 0.5em;
}

@media screen and (min-width: 800px) {
  .serviceContainer {
    padding: 6em;
  }
}
