.contactInfo {
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  padding:2em 0 5em;
}

.contactInfo .container {
  flex-grow: 1;
  width: 50%;
  padding:0 2em;
  border-right: 1px solid #D4D4D4;
}

.contactInfo .portfolio {
  text-align: center;
}
.contactInfo .container:last-child {
  border-right: 0;
}

.contactInfo__header {
  padding-bottom: 0.5em;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
}
