.navMenu {
  list-style: none;
  text-align: center;
  padding: 1em 0;
  background-color: #00BCD4;
}

.navMenu .menuItem {
  display:inline;
  text-transform: uppercase;
  margin: 0 10px;
}

.navMenu .menuItem:hover a, .navMenu .menuItem .active {
  cursor: pointer;
  border-bottom: 2px solid white;
  padding-bottom: 3px;
}

.navMenu .menuItem a {
  text-decoration: none;
  color: white;
  padding: 0 0.5em;
}
